@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

/*pre definition of some elements of the page*/
:root{
    --font: "Montserrat", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: var(--font);
}

header{
    height: 120px;
    padding: 20px;
    background-color: rgb(64, 1, 64);
    /*para deixar o menu preso */
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav{
    padding: 5px;
    display: flex;
    gap: 10px;
}

header nav a {
    background-color: blue;
    color: black;
    text-decoration: none;
    width: 130px;
    height: 30px; 
    padding: 3px;
    text-align: center;
    border-radius: 20px;
}

main{
    padding: 30px;
}

main p{
    padding: 10px;
    text-align: justify;
}

div#story_container{
    display: flex;
    gap: 10px;
}

div#parte1{
    
}

#story_container img{
    width: 500px;
    height: 300px;
}

.foto{
    display: flex;
    flex: 1;
}

.foto img{
    width: 185px;
    height: 272;
    margin-top: 20px;
}