@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*pre definition of some elements of the page*/
:root{
    --font: "Montserrat", sans-serif;
    --font2: "Playfair Display", serif;
    /*paleta de cores*/
    --cor1: #6921b0;
    --cor2: #330A76;
    --cor3: #1B1875;
    --cor4: #11266D;
    --cor5: #0A1E5E;
   
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.titulo{
    font-family: var(--font2);
    margin-left: 10px;
    margin-right: 10px;
}

body{
    font-family: var(--font);
}

header{
    width: 100%;
    height: 120px;
    padding: 20px;
    background: linear-gradient(160deg,var(--cor1), var(--cor5));
    /*para deixar o menu preso */
    position: sticky;
    top: 0;
    z-index: 1;
}
/*para o texto não ficar por trás do menu*/
#menu1{
    scroll-margin-top: 125px;
   
}

#menu2{
    scroll-margin-top: 125px;
}

#menu3{
    scroll-margin-top: 125px;
}

#menu4{
    scroll-margin-top: 125px;
}

header nav{
    padding: 5px;
    display: flex;
    gap: 10px;
}

header nav a {
    background-image: linear-gradient(75deg, var(--cor2),var(--cor4));
    color: black;
    text-decoration: none;
    width: 130px;
    height: 30px; 
    padding: 3px;
    text-align: center;
    border-radius: 20px;
     /*para retirar aquele traço que aparece no tema*/
    outline: none;
    caret-color: transparent;
    border: 1px solid black;
}

header nav a:focus-visible {
    outline: none;
    box-shadow: 0 0 3px 2px rgba(0, 255, 255, 0.5);
}

main{
    padding: 30px;
   /* background-color: #0A0815;
    color: #fff;*/
    background-color: #7e9bf85b;
}

main p{
    padding: 10px;
    text-align: justify;
}

div#story_container{
    display: flex;
    gap: 10px;
    align-items: center;
}

#story_container picture img{
    width: 100%;
    height: auto;
    display: block;
}

#parte1{
    flex: 1;
}

#img_centro{
    text-align: center;
}

main ul {
    list-style-position: inside;
    list-style-type: disc;
}

#menu4{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

div.foto{
    display: flex;
    margin-bottom: 20px;
    align-self: flex-start;
}



div.foto blockquote{
    margin-left: 10px;
}

.subtitulo{
    font-size: 20px;
    font-weight: 600;
}

div.texto_descritivo{
    background-color: var(--cor1);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}



/*montando o carrossel de imagens*/



/*
button{
    width: 200px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(75deg, var(--cor2),var(--cor4));
    border: none;
    position: absolute;
    right: 60px;
    bottom: 20px;
}*/

footer{
    height: 50px;
    padding: 20px;
    background-image: linear-gradient(160deg,var(--cor1),var(--cor5));
}

footer a{
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.foto img{
    display: block;
    object-fit: cover;
}

/*responsividade*/
@media (max-width: 442px) {
     header{
        height: 140px;
        padding: 2rem;
     }

    .foto{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

   div.foto img {
    flex: 0 0 auto;   /* permitir que a imagem ajuste-se ao conteúdo */
    max-width: 90%;   /* ocupa quase toda a largura no mobile */
    width: 90%;
    height: auto;
  }

    .texto_descritivo{
        text-align: center;
        width: 100%;
    }
} 


@media (max-width: 786px) {
    .foto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #parte1{
        width: 100%;
    }

     #story_container picture img{
        display: none;
    }

}  

